/*design of my web app*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


input[type="text"]:focus {
    outline: none;
}

.heading {
    font-family:inherit ;
    text-align: center;
    font-weight: 700;
    background: rgba(45, 206, 72, 0.15); 
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

body{
    
    font-family: 'Poppins', sans-serif;
    background-color:rgb(233, 222, 222) ;
    
}

.form {
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
     display:inline-block; 
}

.valid{
    border-color: green;
}
.invalid{
    border-color: red;
}
.error-msg {
    font-size: x-small !important;
    height: 4px !important;
    color: red !important;
}
.addHab {
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 20px;
}

.btn {
    font-family: inherit;
    font-weight: 400;
    height: 20px;
    background: rgba(103, 185, 80, 0.15); 
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    cursor: pointer;
    margin: 10px;
}
#habitlist {
    font-family: inherit;
    display: flex;
    border: 1px solid  rgba(255, 255, 255, 0.404);
    border-radius: 16px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.085);
    flex-flow: row wrap;
    padding : 20px;
    gap : 12px
    
}
.toplist {
    display: flex;
    justify-content: space-between;
    gap:8px;
    /* anchor-name: --popinfo; */
}

.habCard {
    font-family: inherit;
    font-weight: 450;
    display:flex;
    flex-direction: column;
    width : 220px;
    padding: 7px;
    

    backdrop-filter: blur(12px);
    border: 1px solid rgba(223, 222, 222, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    
}

.nameCard {
    padding: 5px;
    box-shadow: 0px 0px 3px 5px rgba(132, 130, 130, 0.099);
    border-radius: 16px;
    width: min-content;
    /* force ele to stay within parent size,let it shrink but not let it grow */
    flex:0 1 auto; 
    /*Force the element to obey parent boundaries instead of text size */
    min-width: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    /* position: relative; keeps the popup localized to this item */
    
  
}
.pop-box {
    border: 1px solid rgba(255, 255, 255, 0.25);;
    border-radius: 16px;
    padding: 24px;
    max-width: 300px;
    width: 90%;
    background-color:rgba(255, 255, 255, 0.208) ;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.15);
    text-align: center;
   
    backdrop-filter: blur(5px);
}
.pop-box>p {
    font-family: 'Poppins',sans-serif;
    color: rgb(0, 0, 0); 
    font-size: large;
    font-weight: 500;
    padding: 0;
    
}
.pop-box::backdrop{
    background-color: rgba(0, 0, 0, 0.19);
    /* backdrop-filter: blur(2px); */
}
 
.material-icons {
    font-size: 14px;
    padding-left: 8px;

}
.pri-icon{
    /* for not completed */
    color: #db5613;

}
.sec-icon {
    /* for completed */
    color: #2e7d32;
}

.stCard {
    text-align: right;
    box-shadow: 0px 0px 3px 5px rgba(132, 130, 130, 0.099);
    
    font-size: smaller;
    /* not let flexbox to shrink */
    flex-shrink: 0;
    border-radius: 16px;
    padding: 5px;

}

.panel {
    display:flex;
    justify-content: space-between;
   
    margin-top: 8px;
    border-radius: 12px;
    box-shadow: 0px 2px 3px 5px rgba(132, 130, 130, 0.099);;
}

#outerPB {
    margin-top: 10px;
    height: 9px;
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(9, 9, 9, 0.35);
}

#innerPB {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    background-color:rgba(45, 206, 72, 0.418); ;
}

.prog {
    font-family: inherit;
    font-weight: 600;
    display: inline-block;
    background: rgba(45, 206, 72, 0.15); 
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 5px 10px 0 rgba(9, 9, 9, 0.35);
    border-radius: 16px;
    padding: 2px 2px 2px 2px;
}

.heat-map{
    border:1px solid black;
    display: flex;
    padding: 20px;
    margin:20px;
    border: 1px solid  rgba(255, 255, 255, 0.404);
    border-radius: 16px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.085);
    width: fit-content;
    flex-direction: column-reverse;

}
.legend-container {
   margin-top: auto ;
   margin-left: auto;
   display: flex;
   flex-direction: row;
   align-items: baseline;
   gap:5px;
   margin-top: 8px;
}
.legend-container>span {
    font-size:x-small;
}


/*for heat map*/

.ch-subdomain-bg:hover {
    stroke:green !important;
    cursor: pointer;
    transform: translateY(2px) ;
   
}

/* All pseudo selectors */

.btn:active {
    transform: translateY(2px); 
    box-shadow: 0 1px #2d6a31; 
}
.btn:hover {
    /* transform: scale(1.1); */
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.222);
} 

.habCard:hover {
    box-shadow: 0px 0px 5px 10px rgba(235, 75, 222, 0.058); ;
    /* animation: scaleup 0.5s ease-in-out 0.1s forwards;   */
   /* 2s duration and 1 sec delay forwards keep the scaled ver. (not let it shrink until mouse is removed) */
}

.edit::before {
    font-family: 'Material Icons';
    content: '\e3c9'; /* The unique code for the pencil icon */
    font-size: 20px;
    color: #4a4a4a;  
}
.del::before {
    font-family: 'Material Icons';
    content: '\e872'; /* The Unicode code for the delete icon */
    font-size: 20px;
    color: #ff4d4d94; /* Red color for delete */
    cursor: pointer;
}
.done::before {
    font-family: 'Material Icons';
    content: '\e5ca'; /* Unicode for 'done' icon */
    font-size: 20px;
    color: #2e7d32;
}

.alert::before {
    font-family: 'Material Icons';
    content: '\e88e'; /* Unicode for 'done' icon */
    font-size: 50px;
    color: gray;

}
/* All animations */

/* @keyframes scaleup { 
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
} */

/* future references */

/* .btn + .del {
    background-color: rgba(246, 153, 141, 0.441);
}
.btn + .edit {
    background-color: rgba(0, 0, 255, 0.397);
} */